<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Todo列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/todo.css?v=2}">
    <script>
        function ensureCompletedField(form) {
            if (!form.completed.checked) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", "completed");
                hiddenField.setAttribute("value", "false");
                form.appendChild(hiddenField);
            }
        }
    </script>
</head>
<body>
<h2>TodoList</h2>
<form th:action="@{/todo/add}" method="post">
    <div>
        <label for="title">标题：</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="description">描述：</label>
        <input type="text" id="description" name="description" required>
    </div>
    <div>
        <label for="reminderTime">提醒时间：</label>
        <input type="datetime-local" id="reminderTime" name="reminderTime">
    </div>
    <div>
        <label for="category">分类：</label>
        <select id="category" name="categoryId">
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${category.id == 1}"></option>
        </select>
    </div>
    <div>
        <input type="hidden" name="completed" value="false">
        <button type="submit">添加</button>
    </div>
</form>
<ul>
    <li th:each="todo : ${todos}">
        <a th:href="@{/todo/details/{id}(id=${todo.id})}" th:text="${todo.title}"></a>
        <form th:action="@{/todo/updateCompleted}" method="post" style="display:inline;" onsubmit="ensureCompletedField(this)">
            <input type="hidden" name="id" th:value="${todo.id}">
            <input type="checkbox" name="completed" th:checked="${todo.completed}" onchange="this.form.submit()">
        </form>
        <form th:action="@{/todo/delete}" method="post" style="display:inline;">
            <input type="hidden" name="id" th:value="${todo.id}">
            <button type="submit">删除</button>
        </form>
    </li>
</ul>

<div th:if="${user.id == 1}">
    <form th:action="@{/user/management}" method="get">
        <button type="submit" class="bt2">用户管理</button>
    </form>
</div>

<div>
    <form th:action="@{/categories}" method="get" style="display:inline">
        <button type="submit" class="bt3">管理分类</button>
    </form>
</div>
</body>
</html>
